body{
    font-family: 'Open Sans Condensed' , 'sans-serif';
    padding : 20px 80px;
    margin-right:100px;
    
}
*{ 
    
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color : black;
}